In [1]:
# For data manipulation Pandas and numpy will be used 
import pandas as pd
import numpy as np
import os

# No warnings about setting value on copy of slice
pd.options.mode.chained_assignment = None

# Display up to 60 columns of a dataframe
pd.set_option('display.max_columns', 60)



# Matplotlib visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(font_scale = 2)
# Splitting data into training and testing
from sklearn.model_selection import train_test_split

from sklearn.metrics import (
    accuracy_score, confusion_matrix, classification_report, 
    roc_auc_score, roc_curve, auc,
    plot_confusion_matrix, plot_roc_curve
)
#Machine learning mordels 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
print(os.getcwd())

C:\Users\Abena\OneDrive - UWE Bristol\Desktop\LoanData - Copy

In [3]:
# Feature extraction and selection
col_list = ["Age","Gender","Interest","Amount","NewCreditCustomer","LoanDuration","MaritalStatus","Education",
            "EmploymentStatus","Status","IncomeTotal","NoOfPreviousLoansBeforeLoan","AmountOfPreviousLoansBeforeLoan",
           "PreviousRepaymentsBeforeLoan","HomeOwnershipType"]
df = pd.read_csv("LoanData.csv", usecols=col_list)

df.head()

,NewCreditCustomer,Age,Gender,Amount,Interest,LoanDuration,Education,MaritalStatus,EmploymentStatus,HomeOwnershipType,IncomeTotal,Status,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan
0,False,53,1.0,2125.0,20.97,60,4.0,2.0,6.0,1.0,354.0,Late,1.0,500.0,590.95
1,False,25,0.0,531.0,25.27,60,1.0,-1.0,-1.0,1.0,947.0,Current,8.0,8609.0,931.98
2,False,50,1.0,3000.0,17.12,60,5.0,2.0,5.0,1.0,900.0,Repaid,1.0,1800.0,445.26
3,True,44,0.0,9100.0,13.67,60,4.0,4.0,5.0,8.0,1200.0,Repaid,0.0,0.0,0.00
4,True,42,0.0,1500.0,40.40,60,2.0,1.0,3.0,2.0,863.0,Late,0.0,0.0,0.00

In [4]:
#Data structure 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240440 entries, 0 to 240439
Data columns (total 15 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   NewCreditCustomer                240440 non-null  bool
 1   Age                              240440 non-null  int64
 2   Gender                           240395 non-null  float64
 3   Amount                           240440 non-null  float64
 4   Interest                         240440 non-null  float64
 5   LoanDuration                     240440 non-null  int64
 6   Education                        240390 non-null  float64
 7   MaritalStatus                    240390 non-null  float64
 8   EmploymentStatus                 240238 non-null  float64
 9   HomeOwnershipType                238783 non-null  float64
 10  IncomeTotal                      240440 non-null  float64
 11  Status                           240440 non-null  object
 12  NoOfPreviousLoansBeforeLoan      240432 non-null  float64
 13  AmountOfPreviousLoansBeforeLoan  240432 non-null  float64
 14  PreviousRepaymentsBeforeLoan     151222 non-null  float64
dtypes: bool(1), float64(11), int64(2), object(1)
memory usage: 25.9+ MB

In [21]:
#Finding the missing values for each column in the dataset.   
df.isna().sum()

NewCreditCustomer                      0
Age                                    0
Gender                                 0
Amount                                 0
Interest                               0
LoanDuration                           0
Education                              0
MaritalStatus                          0
EmploymentStatus                       0
HomeOwnershipType                      0
IncomeTotal                            0
Status                                 0
NoOfPreviousLoansBeforeLoan            8
AmountOfPreviousLoansBeforeLoan        8
PreviousRepaymentsBeforeLoan       89218
dtype: int64

In [19]:
#HANDLING MISSING VALUES.
#I replaced the missing values by creating an unkown category.
#Missing_Gender value, 2 = Undefined
#Missing HomeOwnershipType value, 11 = Unknown
#Missing_EmploymentStatus value, 7 = Unknown
#Missing_MaritalStatus value, 6 = unknown
#Misiing_Education value, 6 = unknown 

df.loc[df['Gender'].isnull(), 'Gender'] = 2
df.loc[df['HomeOwnershipType'].isnull(),'HomeOwnershipType']= 11
df.loc[df['EmploymentStatus'].isnull(),'EmploymentStatus']= 7
df.loc[df['Education'].isnull(),'Education']= 6
df.loc[df['MaritalStatus'].isnull(),'MaritalStatus']= 6

In [11]:
df['Education']

0          4.0
1          1.0
2          5.0
3          4.0
4          2.0
          ...
240435    -1.0
240436     3.0
240437     3.0
240438     4.0
240439     4.0
Name: Education, Length: 240440, dtype: object

In [22]:
import pandera as pa

# Data validations to check featured observations
from pandera import Check, Column, DataFrameSchema

#suppress traceback error and reveal only validation errors 
%xmode Minimal

schema = pa.DataFrameSchema(
    columns={
        "Education": pa.Column(str,Check.isin([1,2,3,4,5])),
        "MaritalStatus": pa.Column(str,Check.isin([1,2,3,4,5])),
        "EmploymentStatus": pa.Column(str,Check.isin([1,2,3,4,5,6])),
        "HomeOwnershipType": pa.Column(str,Check.isin([1,2,3,4,5,6,7,8,9,10]))
    },
  strict=True
)

schema.validate(df, lazy=True)

Exception reporting mode: Minimal

SchemaErrors: A total of 19 schema errors were found.

Error Counts
------------
- column_not_in_schema: 11
- schema_component_check: 8

Schema Error Summary
--------------------
                                                                                                                                                                                                                                             failure_cases  n_failure_cases
schema_context  column            check
DataFrameSchema <NA>              column_in_schema                       [NewCreditCustomer, Gender, Amount, Interest, LoanDuration, IncomeTotal, Status, NoOfPreviousLoansBeforeLoan, AmountOfPreviousLoansBeforeLoan, PreviousRepaymentsBeforeLoan, Age]               11
Column          Education         dtype('str')                                                                                                                                                                                                   [float64]                1
                                  isin({1, 2, 3, 4, 5})                                                                                                                                                                                   [-1.0, 6.0, 0.0]                3
                EmploymentStatus  dtype('str')                                                                                                                                                                                                   [float64]                1
                                  isin({1, 2, 3, 4, 5, 6})                                                                                                                                                                                [-1.0, 7.0, 0.0]                3
                HomeOwnershipType dtype('str')                                                                                                                                                                                                   [float64]                1
                                  isin({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})                                                                                                                                                                  [0.0, 11.0, -1.0]                3
                MaritalStatus     dtype('str')                                                                                                                                                                                                   [float64]                1
                                  isin({1, 2, 3, 4, 5})                                                                                                                                                                                   [-1.0, 6.0, 0.0]                3

Usage Tip
---------

Directly inspect all errors by catching the exception:

```
try:
    schema.validate(dataframe, lazy=True)
except SchemaErrors as err:
    err.failure_cases  # dataframe of schema errors
    err.data  # invalid dataframe
```